In [2]:
import pandas as pd
import numpy as np
from utils import load_experiment_results

In [5]:
exp = load_experiment_results('/home/yupengz/CoST/exp_results.json')

In [6]:
len(exp)

289

In [7]:
data=pd.DataFrame(exp)

In [8]:
data

,timestamp,pretrain_data,target,results
0,1.686754e+09,[ETTh1],ETTh1,"{'MSE': 0.43700603851242903, 'MAE': 0.44805343..."
1,1.686754e+09,[ETTh1],ETTh2,"{'MSE': 0.2386851401386973, 'MAE': 0.338217661..."
2,1.686754e+09,[ETTh1],ETTm1,"{'MSE': 0.34307229640495907, 'MAE': 0.38078977..."
3,1.686754e+09,[ETTh1],ETTm2,"{'MSE': 0.16024888112218935, 'MAE': 0.27570762..."
4,1.686756e+09,[ETTh1],electricity,"{'MSE': 0.17589436344953374, 'MAE': 0.27737407..."
...,...,...,...,...
284,1.687341e+09,[traffic],ETTh1,"{'MSE': 0.43065599807880717, 'MAE': 0.44858536..."
285,1.687341e+09,[traffic],ETTh2,"{'MSE': 0.24274167314591233, 'MAE': 0.34664763..."
286,1.687342e+09,[traffic],ETTm1,"{'MSE': 0.343778658009376, 'MAE': 0.3861448225..."
287,1.687342e+09,[traffic],ETTm2,"{'MSE': 0.16267187316674592, 'MAE': 0.27971151..."
288,1.687346e+09,[traffic],electricity,"{'MSE': 0.17988429646875329, 'MAE': 0.28655043..."

In [9]:
RES=data['results'].apply(pd.Series)
df_final = pd.concat([data,RES], axis = 1).drop(['results'], axis = 1)

In [10]:
df_final=df_final.drop(["timestamp"],axis=1)

In [24]:
temp=df_final[52:]

In [27]:
a=temp[:64]

In [29]:
a[a['target']=='weather']

     pretrain_data   target       MSE       MAE
59         [ETTh1]  weather  0.236988  0.320626
67         [ETTh2]  weather  0.241810  0.327565
75         [ETTm1]  weather  0.234772  0.315594
83         [ETTm2]  weather  0.230266  0.310884
91   [electricity]  weather  0.276037  0.358612
99       [traffic]  weather  0.211930  0.291699
107     [exchange]  weather  0.252455  0.338381
115      [weather]  weather  0.274938  0.368246

In [24]:
t_e=df_final[df_final['target']=='exchange']

In [25]:
t_e

,pretrain_data,target,seeds,model,MSE,MAE
3,"[etth1, etth2, ettm1]",exchange,2021,CoST,0.133587,0.262832
5,"[etth1, etth2]",exchange,2021,CoST,0.119725,0.249100
8,"[etth1, etth2, ettm1, ettm2]",exchange,2021,CoST,0.135919,0.264777
11,"[etth1, etth2, ettm2]",exchange,2021,CoST,0.135411,0.265026
14,"[etth1, ettm1]",exchange,2021,CoST,0.113741,0.242072
17,"[etth1, ettm2]",exchange,2021,CoST,0.120960,0.252051
19,"[etth1, etth2, ettm1, electricity]",exchange,2021,CoST,0.180045,0.302113
21,"[etth1, etth2, electricity]",exchange,2021,CoST,0.152271,0.279940
23,"[etth1, electricity]",exchange,2021,CoST,0.167438,0.291474
28,"[etth1, etth2, traffic]",exchange,2021,CoST,0.125215,0.261492
29,"[etth1, etth2, ettm1, traffic]",exchange,2021,CoST,0.178211,0.309302
31,"[etth1, etth2, weather]",exchange,2021,CoST,0.116377,0.245411
33,"[etth1, etth2, ettm1, weather]",exchange,2021,CoST,0.119466,0.247440
40,"[etth1, ettm1, ettm2]",exchange,2021,CoST,0.127171,0.257836
42,"[etth1, etth2, ettm2, electricity]",exchange,2021,CoST,0.167358,0.293630
44,"[etth1, ettm1, electricity]",exchange,2021,CoST,0.179230,0.302849
47,"[etth1, traffic]",exchange,2021,CoST,0.138302,0.273409
49,"[etth1, weather]",exchange,2021,CoST,0.108272,0.236423
54,"[etth2, ettm1]",exchange,2021,CoST,0.118744,0.247890
57,"[etth2, ettm2]",exchange,2021,CoST,0.109312,0.237264
59,"[etth2, electricity]",exchange,2021,CoST,0.123866,0.257679
62,"[etth1, etth2, ettm2, traffic]",exchange,2021,CoST,0.240606,0.361007
65,"[etth1, ettm1, traffic]",exchange,2021,CoST,0.138209,0.270233
67,"[etth1, etth2, ettm2, weather]",exchange,2021,CoST,0.128635,0.257732
69,"[etth1, ettm1, weather]",exchange,2021,CoST,0.110395,0.239735
75,"[etth1, ettm2, electricity]",exchange,2021,CoST,0.151940,0.277642
78,"[etth2, traffic]",exchange,2021,CoST,0.139445,0.274733
80,"[etth2, weather]",exchange,2021,CoST,0.117680,0.246286
84,"[etth1, etth2, electricity, traffic]",exchange,2021,CoST,0.223090,0.347657
87,"[ettm1, ettm2]",exchange,2021,CoST,0.119225,0.248934
90,"[etth1, ettm2, traffic]",exchange,2021,CoST,0.148769,0.281645
92,"[etth1, ettm2, weather]",exchange,2021,CoST,0.117428,0.246814
95,"[etth1, etth2, electricity, weather]",exchange,2021,CoST,0.176589,0.300085
97,"[ettm1, electricity]",exchange,2021,CoST,0.188734,0.309921

In [44]:
t_e.loc[[9,54,127,93]]

                pretrain_data       target  seeds   model       MSE       MAE
9              [etth1, ettm1]  electricity   2021  TS2vec  0.350841  0.417642
54          [etth1, exchange]  electricity   2021  TS2vec  0.355658  0.418370
127         [ettm1, exchange]  electricity   2021  TS2vec  0.364648  0.426395
93   [etth1, ettm1, exchange]  electricity   2021  TS2vec  0.350805  0.421897

In [107]:
group = df_final.groupby(['pretrain_data', 'target'])

In [111]:
group.describe()['MSE'].to_csv('final.csv')